.app {
  padding-top: 45px;
  .user-navbar{
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .header { 
    min-height: 180px;
    background-position: 0 -50px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    .icon{
      margin-right: 20px;
    }
  }
  
  .ui.menu.navigation {
    margin: 0;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    .ui.blue.basic.button:hover, .ui.blue.basic.button.active {
      font-weight: bold;
    }
  }
}